<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
</head>
<body>
	<section class="parallax">
    <!-- PUBLICACIONES -->
    <section class="section-publications-2">
      <nav>
        <div class="section-data-2">
          <img src="/assets/images/other-img-profile.jpg" alt="">
          <h1>Sophia Rodriguez</h1>
          <p>7 octubre 2022</p>
          <img class="icon-enlace-2" src="/assets/icons/icon-flecha-abajo-2.png" alt="">
        </div>
      </nav>
      <div class="section-publication-2">
        <p>Me encanta este video</p>
        <iframe width="560" height="315"
          src="https://www.youtube.com/embed/MRGihMaQAig"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen>
      </iframe>
      </div>
      <div class="cant-likes-2">
        <h1>80 Likes</h1>
        <div class="line-4-2"></div>
      </div>
      <div class="section-like-2">
        <img src="/assets/icons/like.png" alt="">
        <h1>Like</h1>
      </div>
      <div class="section-comment-2">
        <h1>Comentar</h1>
        <img src="/assets/icons/icon-comment.png" alt="">
      </div>
      <div class="line-5-2"></div>
      <div class="comment-2">
        <img src="/assets/images/photo-perfil.png" alt="">
        <textarea name="" id="" placeholder="¿Que opinas?"></textarea>
        <img class="icon-enlace-2" src="/assets/icons/icon-enlace.png" alt="">
      </div>
    </section>
	</section>
</body>
</html>
