<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <header>
    <div class="icon-logo-chinny">
      <img src="/assets/icons/icon-logo.png" alt="icono-logo-chinny">
    </div>
    <div class="buscador">
      <img src="/assets/icons/icon-search.png" alt="">
      <input type="text" placeholder="Buscar">
    </div>
    <nav class="menu">
      <ul>
        <li><img class="icons-play" src="/assets/icons/icon-joystick.png" alt=""><a href=""></a></li>
        <li><img class="icons-pricipal" src="/assets/icons/icon-home.png" alt=""><a href=""></a></li>
        <li><img class="icons-pricipal" src="/assets/icons/icon-group.png" alt=""><a href=""></a></li>
        <div class="menu-notifications">
          <ul>
            <li> <img class="icons"  src="/assets/icons/icon-chat.png" alt=""> <a href=""></a></li>
            <li><img class="icons" src="/assets/icons/icon-campana.png" alt=""><a href=""></a></li>
            <li><img class="icons" src="" alt=""><a href=""></a></li>
            <li><img class="icons" src="/assets/icons/icon-flecha-abajo.png" alt=""><a href=""></a></li>
          </ul>
        </div>
      </ul>
    </nav>
  </header>
  <main>
    <section class="portada">
      <img src="/assets/images/photo-portada.gif" alt="">
      <div class="perfil">
        <img src="/assets/images/photo-perfil.png" alt="">
      </div>
      <div>
        <button>
          <img src="" alt="">
          Editar perfil
        </button>
        <h2>Nombre de usuario</h2>
        <h3>apodo</h3>
      </div>
    </section>

  </main>
</body>
</html>



