<app-header></app-header>
<html lang="en">
<body>
  <main>
      <section class="portada">
        <img src="/assets/images/photo-portada.gif" alt="">
        <div class="perfil">
          <img src="/assets/images/photo-perfil.png" alt="">
        </div>
      </section>
      <div>
        <div class="text-info-name">
          <h2>Nombre de usuario</h2>
          <h3>apodo</h3>
        </div>
        <button class="btn-edit-portada">
          <img src="/assets/icons/icon-editar.png" alt="">
          Editar perfil
        </button>
      </div>
      <section class="menu-2">
        <div>
          <a href="">Blog</a>
        </div>
        <div>
          <a href="">Sobre ti</a>
        </div>
        <div>
          <a href="">Amigos</a>
        </div>
        <div>
          <a href="">Clips</a>
        </div>
      </section>
    </main>
</body>
</html>
