@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Inter', sans-serif;
}

body {
  background-color: #FFF2FD;
}

.portada {
  width: 1300px;
  height: 388px;
  left: 0px;
  top: 100px;
  background: linear-gradient(357.99deg, rgba(162, 92, 196, 0.79) 1.8%, rgba(139, 137, 140, 0) 98.42%);
  border-radius: 0px 0px 20px 20px;
}

.portada img {
  margin-left: 50px;
  width: 1250px;
  height: 387px;
}

.perfil {
  position: absolute;
}
.perfil img {
  position: absolute;
  width: 300px;
  height: 220px;
  left: 500px;
  bottom: -130px;
}

.btn-edit-portada img {
  width: 35px;
  height: 25px;
}
.btn-edit-portada {
  width: 200px;
  height: 50px;
  border: none;
  margin-top: 12%;
  margin-left: 4%;
  background: #E09DFF;
  border-radius: 12px;
  font-weight: bold;
  font-size: 20px;
  color: #FFFFFF;
}
.btn-edit-portada:hover {
  background: #d47dfc;
}

.text-info-name {
  position: absolute;
  width: 316px;
  height: 48px;
  left: 551px;
  top: 600px;
  padding-bottom: 20%;
  text-align: center;
  font-family: 'Inter';
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  color: #797676;
}

.menu-2 {
  background-color: #FFF2FD;
  width: 1335px;
  height: 100px;
  margin: 0 auto;
  float: left;
  margin-bottom: 3%;
}

.menu-2 div {
  margin-left: 110px;
}

.menu-2 div a {
  list-style: none;
  margin-left: 120px;
  padding: 20px 30px 20px 30px;
  float: left;
  font-weight: 800;
  color: #797676;
}

.menu-2 div a:hover {
  color: #FF9DF5;
}

.linea_1 {
  position: absolute;
  width: 1100px;
  height: 0px;
  left: -10px;
  top: 690px;

  border: 1px solid #C8C8C8;
}

.linea_2 {
  position: absolute;
  width: 1100px;
  height: 0px;
  left: -10px;
  top: 730px;

  border: 1px solid #C8C8C8;
}

.principal {
  position: absolute;
  width: 50px;
  height: 0px;
  left: 150px;
  top: 727px;
  border-bottom: 3px solid #FF9DF5;
  transform: rotate(0.01deg);
}
