@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Inter', sans-serif;
}

body {
  background-color: #FFF2FD;
}

.portada {
  width: 1300px;
  height: 388px;
  left: 0px;
  top: 100px;
  background: linear-gradient(357.99deg, rgba(162, 92, 196, 0.79) 1.8%, rgba(139, 137, 140, 0) 98.42%);
  border-radius: 0px 0px 20px 20px;
}

.portada img {
  margin-left: 50px;
  width: 1250px;
  height: 387px;
}

.perfil {
  position: absolute;
}
.perfil img {
  position: absolute;
  width: 300px;
  height: 220px;
  left: 500px;
  bottom: -130px;
}

.btn-edit-portada img {
  width: 35px;
  height: 25px;
}
.btn-edit-portada {
  width: 200px;
  height: 50px;
  border: none;
  margin-top: 12%;
  margin-left: 4%;
  background: #E09DFF;
  border-radius: 12px;
  font-weight: bold;
  font-size: 20px;
  color: #FFFFFF;
}
.btn-edit-portada:hover {
  background: #d47dfc;
}

.text-info-name {
  position: absolute;
  width: 316px;
  height: 48px;
  left: 551px;
  top: 600px;
  text-align: center;
  font-family: 'Inter';
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  color: #797676;
}

.menu-2 {

}
