<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <section class="publication">
    <img src="/assets/images/photo-perfil.png" alt="">
    <textarea name="text" id="" placeholder="¿Quieres publicar algo?"></textarea>
    <div class="options">
      <div class="icons">
        <img  src="/assets/icons/icon-image.png" alt="">
        <h1>Subir foto</h1>
      </div>
      <div class="icons">
        <img  src="/assets/icons/icon-camara.png" alt="">
        <h1>Subir video</h1>
      </div>
      <div class="icons">
        <img src="/assets/icons/icon-reunion.png" alt="">
        <h1>Crear reunión</h1>
      </div>
    </div>
  </section>
</body>
</html>
